

.separation{
    display: flex;
    justify-content: flex-start;
    border-bottom: 2px solid #CE0000;
    max-width: 83%;
    padding-bottom: 3vh;
}

.titre{
    
    display: flex;
    justify-content: flex-start;
    margin: 2.5em 0 0.5em 8.2em;
    color: #CE0000;
    
}


.div-search{
    width : 100%;
    margin: 8vh 0 2vh
}

.search-restau{
    min-width:35%
}
