<h2 class="titre ">Filtres :</h2>
<div class="separation"></div>



<div class="accordion">
   <div class="accordion-item">
    <h2 class="accordion-header" id="panelsStayOpen-headingOne">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne">
        <p style="font-size: 20px;">Distance</p>
      </button>
    </h2>
    <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
      <div class="accordion-body">
        <label for="price-min">Price:</label>
        <input type="range" name="price-min" id="price-min" value="200" min="0" max="1000">
      </div>
    </div>
   </div>

  <div class="accordion-item">
    <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo">
        <p style="font-size: 20px;">Prix</p>
      </button>
    </h2>
    <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">
      <div class="accordion-body">
      </div>
    </div>
 </div>

 <div class="accordion-item">
  <h2 class="accordion-header" id="panelsStayOpen-headingThree">
    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree">
      <p style="font-size: 20px;">Sur Place / A Emporter</p>
    </button>
  </h2>
  <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree">
    <div class="accordion-body">
    </div>
  </div>
</div>

<div class="accordion-item">
  <h2 class="accordion-header" id="panelsStayOpen-headingFour">
    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFour">
      <p style="font-size: 20px;">Accès PMR</p>
    </button>
  </h2>
  <div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingFour">
    <div class="accordion-body">
    </div>
  </div>
</div>

<div class="accordion-item">
  <h2 class="accordion-header" id="panelsStayOpen-headingFive">
    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFive">
      <p style="font-size: 20px;">Avis</p>
    </button>
  </h2>
  <div id="panelsStayOpen-collapseFive" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingFive">
    <div class="accordion-body">
    </div>
  </div>
</div>


</div>

  <button class="btn-search btn-primary" type="button">LANCER LA RECHERCHE</button>

