
.separation{
  display: flex;
  justify-content: flex-start;
  border-bottom: 2px solid #CE0000;
  max-width: 83%;
}


.titre{
  display: flex;
  justify-content: flex-start;
  margin: 2.5em 0 0.5em 8.2em;
  color: #CE0000;
}


.accordion{
padding-top: 100px;
max-width: 40%;
margin : 0 auto;
margin-bottom: 100px;
}

.accordion-body{
  background-color: #F5F3F3;
  text-align: center;
}

.accordion-item{

  margin-bottom: 60px;
}

 .accordion-button{
 background-color: #CE0000;
 color: white;
 font-family: cursive;
filter: drop-shadow(0 0 0.2rem grey);
}

.btn-search{
  background-color: #CE0000;
  text-align: center;
  margin: 100px auto;
  border-radius: 10px;
  display: block;
  height: 62px;
  width: 272px;
  font-size: 20px;
  border: none;

}

span{
  font-weight: 500 ;
}

.accordion-button.collapsed {
  background: #CE0000;
}

.accordion-button.collapsed::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath  d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

@media only screen and (max-width:768px) {

span{
  font-size: 2vh;
}

p{
  font-size: 2vh;
}

}



