<h1 style = "text-align: center;">Hello {{userName}} !</h1> 

<div class="intro">Bienvenue sur Simpl'eat, l'application indispensable pour un Simplonien comme toi ! </div>Bienvenue sur Simpl'eat, l'application indispensable pour un Simplonien comme toi ! 

<img src="assets/imagesAccueil/image_accueil_1.PNG" alt="Photo d'un magnifique repas miam ! ">
<div class="premier_p">Cette application à été conçue dans le but de te permettre de visualiser les différents restaurants aux alentours de l’école SIMPLON située à MONTREUIL.
Tu pourras choisir choisir selon tes préférences un restaurant en particulier qui convient selon ton envie du jour.
Une boulangerie, un kebab, une pizzeria ou simplement un magnifique sandwich triangle dans ton cente commercial préféré !</div>

C'est pas magnifique ça ?





