.container-fluid
{
  padding-top: 2%;
  width : 100%;
  margin: auto;
  padding-bottom: 2%;
  padding-left: 0;
  padding-right: 0;
  max-height: 20%;

}

.trait{

  width: 100%;
  height: 30px;
  border-bottom: 2px solid red;

}

img{
  padding-left: 2%;

}

h5{
  margin:0;
  padding:0;
  text-align:center;
  position: absolute;
}

