<nav class="navbar navbar-light p-0">
  <div class="container-fluid d-flex align-items-center pt-3">
    <div class="logo ps-4">
      <img src="assets/images-header/LOGO2.png" alt="logo">
    </div>
      <form style="width: 30%;" class="d-flex align-items-center pe-2 pt-2">
        <input class="form-control me-5 position-relative" type="search" #newItem placeholder="Trouver votre SIMPL'EAT..." aria-label="Search">
        <button (click) = "onChangeInput(newItem.value)">Recherche</button>
      </form>
        <div class="trait">
          <p>LE BON PLAN POUR MANGER</p>
        </div>
  </div>
</nav>
