<nav class="navbar-expand-lg navbar-light">
  <div class="container-fluid">
      <button class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNavAltMarkup"
          aria-controls="navbarNavAltMarkup"
          aria-expanded="false"
          aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="nav">
          <div class="navbar-nav ">
              <a routerLink="home" routerLinkActive="active-custom" class="nav-link p-5 " style="font-size: 25px;">Accueil</a>
              <a routerLink="categories" routerLinkActive="active-custom" class="nav-link p-5" style="font-size: 25px;">Categories</a>
              <a routerLink="filters" routerLinkActive="active-custom" class="nav-link p-5" style="font-size: 25px;">Filtres</a>
              <a routerLink="favoris" routerLinkActive="active-custom" class="nav-link p-5" style="font-size: 25px;">Mes favoris</a>
              <a routerLink="deconnexion" routerLinkActive="active-custom" class="nav-link p-5" style="font-size: 25px;">Deconnexion</a>
          </div>
      </div>
      <div id="image-header">
      <img src="assets/images-header/fond.png" alt="fond_header">
    </div>
  </div>
</nav>



