

#image-header{
 
  display: flex;
  justify-content: center;
  
}

img{
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding: 0;
  
  // filter: drop-shadow(0 0 0.30rem rgb(165, 165, 165));
}


.active-custom {
  color:#CE0000 !important;
  font-weight: bold;
}




@media only screen and (max-width:1131px) {
  .navbar-toggler{
    margin: 3vh;
  }
  .container-fluid{
  padding: 0;
  }


}

