
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


.card-body{
    background-color: #CE0000;
}

.btn{
    display: block;
    color: #fff;
    width: 100%;
    font-size: 1.5em;
    font-weight: bold;
}

