.separation{
    display: flex;
    justify-content: flex-start;
    border-bottom: 2px solid #CE0000;
    max-width: 83%;
}

.titre{
    
    display: flex;
    justify-content: flex-start;
    margin: 2.5em 0 0.5em 8.2em;
    color: #CE0000;
    
}
