<div class="signin-form text-center">
  <main class="form-signin">
    <img src="../../../assets/images-header/logo.png"><br>
      <br><h5>Le bon plan pour manger</h5>
          <div class="form-floating">
              <input type="email"
                      class="form-control"
                      id="floatingInput"
                      placeholder=""
                      name="email">
              <label for="floatingInput">Adresse email</label>
          </div>
          <div class="form-floating">
              <input type="password"
                      class="form-control"
                      id="floatingPassword"
                      placeholder=""
                      name="password">
              <label for="floatingPassword">Mot de passe</label>
          </div>

          <button type="submit">Connexion</button>


  </main>
</div>

