.signin-form {
  height: 100vh;
  padding-top: 40px;
  background-image: url(../../../assets/fond-signin.png);
  background-position: center;
}

.form-signin {
  max-width: 500px;
  padding: 15px;
  margin: auto;
  margin-top: 20vh;
  background-color: #f0f0f0;
  border-radius: 15px;
  box-shadow: 10px 10px 10px grey;
}

.form-floating:focus-within {
  z-index: 2;
}

input[type="email"] {
  margin-top: 10px;
  margin-bottom: 5px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-color: red;
}

input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-color: red;
}

