<div class="container position-relative shadow p-0 mb-5 bg-body rounded rounded  m-5 rounded-top "
  style="width: 19rem;">
    <img class="card-img-top " src="assets/ImagesRestos/photo.jpg" alt="Card image cap">
      <div class="rond position-absolute"><i class="heart far fa-heart"></i></div>
      <div class="card-body rounded-bottom">
        <h3 class="titre-resto d-flex justify-content-center d-flex align-items-center" style="font-size: 24px;">
          {{restaurant.nom }}</h3>
        
        <div class="accordion " id="accordionExample">
          <h2 class="accordion-header pt-1" id="headingOne">
              <button class="btn accordion-button collapsed ps-5 pe-5 " type="button" data-bs-toggle="collapse"
              [attr.data-bs-target]="'#restaurant'+ restaurant.id" aria-expanded="true" aria-controls="collapseOne">
              PLUS D'INFOS</button>
          </h2>
          <div id="restaurant{{restaurant.id}}" class="accordion-collapse collapse" aria-labelledby="headingOne"
          data-bs-parent="#accordionExample">
          <div class=" body accordion-body">
          <strong>This is the first item's accordion body.</strong>
          <div class="star-icon d-flex justify-content-flex-start d-flex align-items-center pt-2 ">
              <ul class="avis-star d-flex flex-row  ps-1 pt-3 pe-0 pb-0 mb-0  ">
                <li class="star pe-2"><i class="bi bi-star-fill"></i></li>
                <li class="star pe-2"><i class="bi bi-star-fill"></i></li>
                <li class="star pe-2"><i class="bi bi-star-fill"></i></li>
                <li class="star pe-2"><i class="bi bi-star-fill"></i></li>
                <li class="star"><i class="bi bi-star-fill"></i></li>
              </ul>
            <span class="ps-3 mt-3 " style="font-size: 1.1em; color:#545454">5/5</span>
          </div>
          <div class="infos ps-1 pt-2" style="color:#545454">
            <div>
              <span class="categorie pe-4" style="font-style: italic;" *ngFor="let categorie of restaurant.typerestaus">{{ categorie.libelle }}</span>
            </div>
            <div>
              <i class="fas fa-walking ps-2 pe-1" style="color:#a8a8a8"></i>
              <span class="categorie pe-4" style="font-weight: bold;">{{distance}} mètres</span>
            </div>
            <div>
              <i class="fas fa-euro-sign ps-2 pe-1" style="color:#a8a8a8"></i>
              <span class="prix" style="font-weight: bold;">5-10€</span>
            </div>
          </div>
          <div class="trait-rouge pt-3"></div>

          <div *ngIf="restaurant.website; else noWebsite">
            <p class="description pt-3 ps-1 pe-1 text-justify d-block" style="font-size:0.9em; color:#545454">
              <a href="{{restaurant.website}}" class="description pe-1" style="font-style: italic;font-weight: bold;">Site Web</a>

            </p>
          </div>
          <!-- le else de notre *ngIf plus haut-->
          <ng-template #noWebsite class="description pe-1" style="font-style: italic;font-weight: bold;">
            <div> 
              <p class="description pt-3 ps-1 pe-1 text-justify d-block" style="font-size:0.9em; color:#545454"> Pas de site Web </p>
            </div>
          </ng-template>
          <!--  ------------------------------------  -->

          <div class="trait-rouge pt-2 pb-0"></div>
          <div class="critere ps-1 pt-3">
            <span class="sur-place pe-1" style="color:#545454">Sur place :</span>            
            <app-icon 
              [iconName]="restaurant.surPlace ? 'fas fa-check-square' : 'fas fa-times-circle ps-1 pt-1'"
              [iconColor]="restaurant.surPlace ? '#4ECB71' : '#ED2F2F'"
            ></app-icon>
            <span class="a-emporter ps-3 pe-1" style="color:#545454">A emporter :</span>  
            <app-icon 
              [iconName]="restaurant.emporter ? 'fas fa-check-square' : 'fas fa-times-circle ps-1 pt-1'"
              [iconColor]="restaurant.emporter ? '#4ECB71' : '#ED2F2F'"
            ></app-icon>
          </div>
          <div class="trait-rouge pt-3"></div>
          <div class="critere d-flex justify-content-center ps-1 pt-3 pb-3">
            <span class="acces-pmr pe-1" style="color:#545454">Accès PMR :</span>
            <app-icon 
            [iconName]="restaurant.accesPMR ? 'fas fa-check-square' : 'fas fa-times-circle ps-1 pt-1'"
            [iconColor]="restaurant.accesPMR ? '#4ECB71' : '#ED2F2F'"
          ></app-icon>
          </div>
          <div class="reserver pt-2">
            <button type="button" class="button">Réserver</button>
          </div>
        </div>

      </div>

    
</div>