<div class="container position-relative shadow p-0 mb-5 bg-body rounded rounded  m-5 rounded-top "  style="width: 18rem;" >
      <img class="card-img-top " src="assets/ImagesRestos/photo.jpg" alt="Card image cap">
    <div class="card-body rounded-bottom">
        <h3 class="titre-resto d-flex justify-content-center d-flex align-items-center" style="font-size: 24px;">NOM RESTAURANT</h3>

          <div class="accordion" id="accordionExample">
            
              <h2 class="accordion-header pt-1" id="headingOne">
            <button class="btn" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              PLUS D'INFOS
            </button>
          </h2>
          
          <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
            <div class=" body accordion-body">
              <strong>This is the first item's accordion body.</strong>
                <div class="star-icon d-flex justify-content-flex-start d-flex align-items-center">
                    <ul class="avis-star d-flex flex-row ps-0 pt-3 pe-0">
                      <li class="star pe-2"><i class="bi bi-star-fill"></i></li>
                      <li class="star pe-2"><i class="bi bi-star-fill"></i></li>
                      <li class="star pe-2"><i class="bi bi-star-fill"></i></li>
                      <li class="star pe-2"><i class="bi bi-star-fill"></i></li>
                      <li class="star"><i class="bi bi-star-fill"></i></li>
                    </ul>
                    <span class="ps-3"style="font-size: 1.2em; color:#545454" >4/5</span>
                    
               </div>
               <span class="categorie">Kebab</span>
               <img src="assets/ImagesRestos/pieton.png"><span class="categorie">550m</span>
               
            </div>
          
        </div>
    </div>
</div>


