/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/scss/bootstrap.scss';
// le tilde agit comme un raccourci vers le node_modules
* {
  box-sizing: border-box;
  margin : 0;
  padding: 0;
}
